/***** Custom section ****/
.logo-navbar {
  max-height: 32px;
}

.featured-service {
  margin: 5rem 0;
}

.btn-creme,
.bg-creme {
  background-color: #EFEDE1 !important;
}

a.bg-creme:hover, a.bg-creme:focus,
button.bg-creme:hover,
button.bg-creme:focus {
  background-color: #dae0e5 !important;
}

.bg-pink {
  background-color: #BA8585 !important;
}

a.bg-pink:hover, a.bg-pink:focus,
button.bg-pink:hover,
button.bg-pink:focus {
  background-color: #DDA8A8 !important;
}

.services-section .img-fluid {
  width:100%;
  height:100%;
}

/***** Overwrite section ****/
#mainNav {
  min-height: 3.5rem;
  background-color: #EFEDE1;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #BA8585;
  border: 1px solid #BA8585;
}
#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(#EFEDE1, 80%);
  outline: none;
  background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink {
    background-color: #EFEDE1;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #000000;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #000000;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #BA8585;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #BA8585;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #BA8585;
    outline: none;
    border-bottom: 0.25rem solid #BA8585;
  }

  .masthead .img-fluid {
    max-width: 75%;
    height: auto;
  }

  #masthead-logo {
    width: 100%;
  }

  #about .featured-text {
    border-left: 0.5rem solid #EFEDE1;
    padding-left: 0.5rem;
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 5rem 0;
  background: #BA8585 !important;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.about-section {
  padding-top: 5rem;
  background: #BA8585 !important;
  border-top: 0.1rem solid #EFEDE1;
}

.about-section p {
  margin-bottom: 1.5rem;
}

.services-section {
  padding: 5rem 0;
}
.services-section .featured-text {
  padding: 2rem;
}
@media (min-width: 992px) {
  .services-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #BA8585;
  }
}
.services-section .service-text {
  padding: 3rem;
  font-size: 90%;
}
@media (min-width: 992px) {
  .services-section .service-text {
    padding: 5rem;
  }
  .services-section .service-text hr {
    border-color: #EFEDE1;
    border-width: 0.25rem;
    width: 30%;
  }
}

.contact-section {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background: linear-gradient(to bottom, #BA8585 0%, #BA8585 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.contact-section .form-inline input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #DDA8A8;
}
.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color: #BA8585;
  border-width: 0.25rem;
  width: 3rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #EFEDE1;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card a, .text-primary {
  color: #BA8585 !important;
}
.contact-section .social {
  margin-top: 5rem;
}
.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.contact-section .social a:active {
  color: #fff;
}

.footer {
  padding: 3rem 0;
}
